<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doranour</title>
</head>
<body>
    <h1>کتاب های فروشگاه</h1>
    <ul>
        {% for book in books %}
        <li>
            <strong>
                {{book.title}}
            </strong>
            {{book.author}} - {{book.price}}
        </li>
        {% empty %}
        <li>کتابی موجود نیست</li>
        {% endfor %}
    </ul>
</body>
</html>